/* .selectize-control.bootstrap5 .selectize-select {
    color: #fff;
    background-color: #343a40;
}

.selectize-dropdown-content {
    background-color: #343a40;
}

.selectize-dropdown-content .option {
    color: #fff;
}

.selectize-control.bootstrap5 .selected-item {
    background-color: #58616b;
} */